// used for imported HashLink component
.link {
  color: var(--chakra-colors-brand-200);
  transition: color 0.2s ease;

  &:hover {
    color: var(--chakra-colors-brand-100);
  }
}

.anchor {
  &-copy {
    opacity: 0;
    color: var(--chakra-colors-brand-200);
    font-size: 1.0625rem;
    line-height: 1;
    position: absolute;
    padding: 0.5rem;
    top: -4px;
    left: -2rem;
    transition: opacity 0.3s ease, color 0.3s ease;

    @media all and (max-width: 48em) {
      left: unset;
      right: -2rem;
    }

    &:hover,
    &:focus-visible {
      opacity: 1;
      color: var(--chakra-colors-brand-100);
    }
  }

  &-heading {
    &:hover {
      & ~ .anchor-copy {
        opacity: 1;
      }
    }
  }
}
