@mixin customScrollbar {
  &::-webkit-scrollbar {
    background-color: transparent;
    width: 3px !important;
    height: 3px;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 10px;
  }
  &:hover::-webkit-scrollbar-thumb {
    background-color: #fff;
  }
}

html {
  overflow-x: hidden;
}

// custom scrollbars
.scrollbar-y-thin,
.scrollbar-x-thin {
  overscroll-behavior: contain;
  @include customScrollbar;
}

// used for imported HashLink component
.link {
  color: var(--chakra-colors-brand-200);
  transition: color 0.2s ease;

  &:hover {
    color: var(--chakra-colors-brand-100);
  }
}

.anchor {
  &-copy {
    opacity: 0;
    color: var(--chakra-colors-brand-200);
    font-size: 1.0625rem;
    line-height: 1;
    position: absolute;
    padding: 0.5rem;
    top: -4px;
    left: -2rem;
    transition: opacity 0.3s ease, color 0.3s ease;

    @media all and (max-width: 48em) {
      left: unset;
      right: -2rem;
    }

    &:hover,
    &:focus-visible {
      opacity: 1;
      color: var(--chakra-colors-brand-100);
    }
  }

  &-heading {
    &:hover {
      .anchor-copy {
        opacity: 1;
      }
    }
  }
}

pre {
  width: 100%;

  & * {
    width: 100%;
    overflow-x: auto;
    @include customScrollbar;
  }
}
